body {
  box-sizing: border-box;
  max-height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  /* height: 100vh; */
  background-color: grey;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
}

#titulos{
  /* height: 7%; */
  display: grid;
  grid-template-columns: 61% 39%;
  justify-content: space-around;
  align-items: center;
  padding: 0 3%;
  background-color: rgb(235, 171, 99);
  color: white;
  text-shadow: .2em .2em .5em black;
}

#container {
  padding: 4%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 5%;
  background-color: rgb(235, 171, 99);
}

#grid-produtos {
  height: 81.5vh;
  margin: 0;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 50% 50%;
  row-gap: 2%;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 0.3em;
}

.produto {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* row-gap: 1%;  */
  background-color: blanchedalmond;
  border-radius: 0.3em;
  box-shadow: .1em .1em .3em black;
}

img {
  width: 100%;
}

button{
  margin-top: .5em;
  border-radius: .3em;
  box-shadow: .1em .1em .1em black;
}

p{
  margin: 0;
  padding: .5em;
  font-size: 1em;
}

#lista-produtos {
  height: 102px;
  padding: 0;
  background-color: #fff;
  justify-content: center;
  border-radius: 0.6em;
  box-shadow: 0.2em 0.2em 0.5em black;
  overflow: auto;
}

#total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border: solid 0.1em black;
  border-radius: .3em;
  background-color: #e4d8d8;
  font-size: 1.3em;
}
